body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: #545B77;
}

#title {
    font-size: 10rem;
}

.container {
    margin: 7% auto;
}

.drum {
    margin: 10px;
    font-size: 4rem;
    display: inline-block;
    width: 150px;
    height: 150px;
    color: black;
    border: 10px solid brown;
    background-color: white;
    border-radius: 15px;
}

.footer {
    font-size: 2.5rem;
}

.w {

}

.a {

}

.s {

}

.d {

}

.j {

}

.k {

}

.l {

}