body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: #545B77;
}

#title {
    font-size: 10rem;
}

.container {
    margin: 7% auto;
}

.drum {
    margin: 10px;
    font-size: 4rem;
    display: inline-block;
    width: 150px;
    height: 150px;
    color: black;
    border: 10px solid brown;
    background-color: white;
    border-radius: 15px;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.footer {
    font-size: 2.5rem;
}

.w {
    background-image: url(./images/tom1.png);
}

.a {
    background-image: url(./images/tom2.png);
}

.s {
    background-image: url(./images/tom3.png);
}

.d {
    background-image: url(./images/tom4.png);
}

.j {
    background-image: url(./images/snare.png);
}

.k {
    background-image: url(./images/kick.png);
}

.l {
    background-image: url(./images/crash.png);
}